@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #F2EAE2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 600px;
  border-radius: 10px;
}

.card__left {
  height: 450px;
  width: 50%;
}

.card__image {
  height: 450px;
  width: 337px;
  border-radius: 10px 0 0 10px;
  /* object-fit: cover; */
}

.card__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  width: 600px;
  padding-top: 20px;
  padding-left: 36px;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
}
.card__subtitle { 
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  color: #6C7289;
  margin: 0;
}
.card__title {
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 236px;
  color: #1C232B;
  /* margin-top: */
  margin-bottom: 0;
}
.card__description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 237px;
  color: #6C7289;
}
.card__priceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}
.card__largePrice {
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #3D8168;

}
.card__smallPrice {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #6C7289;
  margin-right: 3rem;
  text-decoration: line-through;
}

/* Button styling */
.button__wrapper {
  justify-content: center;
  align-items: center;
}
.btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 236px;
  border-radius: 8px;
  background-color: #3D8168;
  color: white;
  transition: all 0.2s ease;
}
.btn__wrapper:hover {
  background-color: #1A4032;
  cursor: pointer;
}
.card__cta {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-left: 0.75rem;
}

/* media queries */
@media screen and (max-width: 375px) {
  .card__wrapper {
    flex-direction: column;
    width: 343px;
    border-radius: 10px;
  }
  .card__title {
    max-width: 295px;
  }
  .card__description {
    max-width: 300px;
  }
  .card__image {
    height: 358px;
    width: 344px;;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  .card__left {
    height: 280px;
    width: 344px;
  }
  .card__right {
    min-height: 385px;
    width: 290px;
    border-radius: 0 0 10px 10px;
  }
  /* Button styling */
.button__wrapper {
  display: flex;
  margin-right: 0.25rem;
  justify-content: center;
  align-items: center;
}
  .btn__wrapper {
    height: 48px;
    width: 280px;
    border-radius: 8px;
  }
  .btn__wrapper:hover {
    background-color: #1A4032;
    cursor: pointer;
  }
}